<!-- wp:custom-blocks/main-nav /-->

<!-- wp:heading {"level":2} -->
<h2 class="wp-block-heading">Collin's Music Academy</h2>
<!-- /wp:heading -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">About us</h3>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam
		dolores labore numquam distinctio repellat voluptatibus repellendus commodi
		eaque corrupti, veritatis incidunt, recusandae aspernatur. Quam autem ex
		voluptatum! Quis, necessitatibus.
	</p>
	<!-- /wp:paragraph -->
	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. At ipsa a ea
		dolores consequuntur voluptatem, quia eveniet! Maxime, aspernatur qui a ea,
		suscipit esse repellendus non vel maiores dolorem quas animi quaerat et
		numquam sunt odit voluptates ducimus distinctio ratione hic aliquam saepe
		minima consequuntur. Dolores quos, sed harum molestias voluptatum, unde nemo
		nisi dignissimos, earum voluptas assumenda vero deserunt? Voluptates
		molestiae, cupiditate perferendis qui accusamus possimus beatae excepturi
		architecto similique quasi vitae incidunt ipsum consequatur, iusto tempora,
		ipsam eos dolores totam. Sequi ipsa debitis eaque dolorem ut! Perspiciatis
		assumenda quam sunt voluptas laudantium et reprehenderit delectus voluptate
		quis provident!
	</p>
	<!-- /wp:paragraph -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">Instructors</h3>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla
		corporis, assumenda facilis necessitatibus vel vero distinctio quaerat
		repellat tenetur.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:group {"tagName": "section"} -->
	<section class="wp-block-group">
		<!-- wp:heading {"level":3} -->
		<h3 class="wp-block-heading">Instructors</h3>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, vel!
			Ipsam, ea quod distinctio obcaecati reiciendis id nesciunt labore animi
			veniam necessitatibus vel quo recusandae suscipit? Magnam pariatur eveniet
			molestias.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:custom-blocks/instructors-list /-->
	</section>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->
