/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-optiontwo-blocks-main-nav {
	background-color: var(--wp--preset--color--primary);
	padding: 8px;
	
	ul {
		height: 60px;
		list-style: none;

		display: flex;
		align-items: center;
		gap: 40px;

		a {
			text-decoration: none;
			color: white;
		}

		li {
			font-size: 18px;
		}

		li:first-child {
			font-size: 24px;
			font-weight: bold;
		}
	}
}
