<!-- wp:optiontwo-blocks/main-nav /-->

<!-- wp:group {"tagName": "main"} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName": "section"} -->
	<section class="wp-block-group">
		<!-- wp:heading {"level":2} -->
		<h2 class="wp-block-heading">About us</h2>
		<!-- /wp:heading -->
		<!-- wp:paragraph -->
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, tempora!
			Eligendi natus rerum libero repellat officiis, dolorem, nam laboriosam,
			sed architecto optio dolorum tempore iure distinctio et voluptatem.
			Aspernatur, quaerat?
		</p>

		<!-- /wp:paragraph -->
		<!-- wp:paragraph -->

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque minus aut,
			aperiam voluptatum dignissimos animi mollitia voluptates architecto rerum
			et perspiciatis. Corrupti doloribus aspernatur ullam necessitatibus ad
			tempora ipsum facere qui a, architecto id dolorem quidem, quas autem
			atque. Minus nobis maxime, inventore quod doloribus provident esse
			praesentium eos nesciunt facilis numquam perferendis quos amet
			consectetur, error harum rerum officia pariatur repellat sit iure
			voluptate, est nulla magni. Itaque sunt dolore optio, doloremque sed
			suscipit fuga, ea molestias consequatur quae dolor aut qui? Non dolor cum
			qui. Odit non illum, quod amet rerum sapiente voluptate quaerat autem
			nobis, magni cum?
		</p>
		<!-- /wp:paragraph -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName": "section"} -->
	<section class="wp-block-group">
		<!-- wp:heading {"level":3} -->
		<h3 class="wp-block-heading">Lessons</h3>
		<!-- /wp:heading -->
		<!-- wp:paragraph -->
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. In error maxime
			aut quia ipsa placeat, minus quidem cumque qui, consequatur esse quasi
			culpa ipsum explicabo recusandae animi. Ut, quae sint?
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:group {"tagName": "section"} -->
		<section class="wp-block-group">
			<!-- wp:group -->
			<div class="wp-block-group"></div>
			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Piano</h4>
			<!-- /wp:heading -->

			<!-- wp:image -->
			<figure class="wp-block-image">
				<img src="https://picsum.photos/400/300" alt="" />
			</figure>
			<!-- /wp:image -->
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
